<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div th:fragment="posts">

    <article class="blog-item-holder" th:each="post : ${pager.posts}">
        <div class="entry-content relative">
            <h2><a th:text="${post.title}" th:href="@{'/post/' + ${post.id}}">Title</a></h2>
            <div class="cat-links">
                <ul>
                    <li>
                        <a th:text="${post.user.username}" th:href="@{'/blog/' + ${post.user.username}}"></a>
                    </li>
                </ul>
            </div>
           <div class="entry-date published" th:text="${#dates.format(post.createDate, 'dd-MMM-yyyy')}"></div>
           <div class="clear"></div>
        </div>
    </article>

</div>
</body>
</html>